<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
    <h1>Welcome to C A R T!</h1>
      <ul>
	<% if (cart.length != 0) {%>
        <% cart.forEach(item => { %>
          <li>
            <%= item %>
        </li>
        <% })}; %>
    </ul>
</body>
</html>