<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <h1>Welcome to S H O P!</h1>
  <a href="/cart">C A R T</a>
      <ul>
        <% items.forEach(item => { %>
          <li>
            <%= item.name %>
          <form method="post" action="/add-to-cart" style="display: inline-block">
            <input type="hidden" name="productName" value=<%= item.name.replaceAll(" ", "_") %>>
            <button type="submit" name="submit_param" value="submit_value">
              +
            </button>
          </form>
        </li>
        <% }); %>
    </ul>
</body>
</html>
