.game-img{
  height: 60px;
  width: 60px;
}

.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.list-item > div{
  width: 30%;
  text-align: center;
  margin: 0 0.5rem;
}
