.item-creator {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.form-creator {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  border: 1px solid #ccc;
  padding: 3rem;
  border-radius: 2rem;;
}

.form-creator > div {
  margin: 10px;
}


.form-creator > div > label {
  display: inline-block;
  min-width: 120px;
}

#submit-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
